:root {
    --zinc-50: #fafafa;
    --zinc-100: #f4f4f5;
    --zinc-200: #e4e4e7;
    --zinc-300: #d4d4d8;
    --zinc-400: #a1a1aa;
    --zinc-500: #71717a;
    --zinc-600: #52525b;
    --zinc-700: #3f3f46;
    --zinc-800: #27272a;
    --zinc-900: #18181b;
    --zinc-950: #09090b;
    --green: #34d399;
    --red: #f87171;
}

@mixin fullscreen {
    @supports(height: 100dvh) {
        width: 100dvw;
        height: 100dvh;
    }
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
}
@mixin split {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 2fr 1fr;
    @media (orientation: landscape) {
        grid-template-columns: 2fr 1fr;
        grid-template-rows: 1fr;
    }
    > * {
        display: flex;
        flex-direction: column;
        align-items: stretch;
    }
    > :nth-child(1) {
        background: var(--zinc-50);
        color: var(--zinc-900);
    }
    > :nth-child(2) {
        background: var(--zinc-900);
        color: var(--zinc-50);
    }
}

body {
    font-family: "Inter", sans-serif;
    user-select: none;
}

p {
    margin: 0;
}

@media (max-height: 450px) or (orientation: portrait) {
    .hideSmall {
        display: none;
    }
}

.gameContainer {
    @include fullscreen;
    @include split;
    .historyView {
        overflow-y: scroll;
    }
    .playView {
        justify-content: space-between;
        text-align: center;
        align-content: center;


        display: flex;
        
        padding: 1em;
        .choices {
            display: flex;
            flex-direction: column;
            gap: 6px;
            &.animate {
                pointer-events: none;;
            }
            &.animate > :nth-child(1) {
                animation: colorTransition;
                animation-duration: 0.25s;
            }
            &.animate > :nth-child(2) {
                animation: choices-1, colorTransition;
                animation-duration: 0.25s;
            }
            &:not(.animate) > :nth-child(2) {
                animation: fadeIn;
                animation-duration: 0.25s;
            }
            &[data-was-correct="yes"] {
                --animationColor: var(--green);
            }
            &[data-was-correct="no"] {
                --animationColor: var(--red);
            }
        }
    }
}
@keyframes colorTransition {
    50% {
        background-color: var(--animationColor)
    }
}
@keyframes choices-1 {
    0% {
        transform: translateY(0%);
        margin-top: 0px;
        margin-bottom: 0px;
    }
    100% {
        transform: translateY(-100%);
        margin-top: -8px;
        margin-bottom: 8px;
    }
}
@keyframes fadeIn {
    0% {
        opacity: 0;
        transform: translateY(100%);
    }
    100% {
        opacity: 1;
        transform: translateY(0%);
    }

}

.artist {
    display: grid;
    grid-template-columns: 1fr auto;
    grid-template-rows: 1fr 1fr auto;
    align-items: center;
    .name {
        grid-column: 1 / 2;
        grid-row: 1 / 4;
        display: flex;
        font-size: 1.5em;
        font-weight: 700;
    }
    .counter {
        grid-column: 2 / 3;
    }
    .scrobbles {
        grid-row: 1 / 2;  
    }
    .listeners {
        grid-row: 2 / 3;
    }
    .rank {
        grid-row: 3 / 4;
        grid-column: 1 / 3;
        justify-content: flex-end;
    }
}

.counter {
    font-family: "Space Mono", monospace;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: baseline;
    gap: 0.25em;
    .unit {
        font-size: 0.8em;

    }
}

.historyEntry {
    padding: 0.5em;
    position: relative;
    transition: 0.25s background;
    &[data-selected="true"] {
        background: var(--zinc-300);
        animation: history-entry-1;
        animation-duration: 0.25s;
    }
    &[data-selected="true"]::after {
        content: "";
        position: absolute;
        top: 0;
        right: 0;
        width: 100%;
        height: 100%;
        background: var(--zinc-400);
        animation: history-entry-2;
        animation-fill-mode: forwards;
        animation-duration: 0.25s;
        animation-delay: 0.25s;
    }
    &[data-selected="true"][data-wascorrect="yes"]::after {
        background: var(--green);
    }
    &[data-selected="true"][data-wascorrect="no"]::after {
        background: var(--red);
    }
}

@keyframes history-entry-1 {
    0% {
        clip-path: polygon(0 0, 0 0, 0 100%, 0 100%);
    }
    100% {
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
    }
}
@keyframes history-entry-2 {
    0% {
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
    }
    100% {
        clip-path: polygon(100% 0, 100% 0, 100% 100%, 100% 100%);
    }
    
}

button,a {
    appearance: none;
    border: none;
    background: var(--zinc-300);
    transition: 0.25s background, 0.25s border-radius;
    padding: 0.4em;
    padding-inline: 0.8em;
    border-radius: 0.125em;
    color: var(--zinc-900);
    &:hover {
        background: var(--zinc-50);
        border-radius: 0.25em;
    }
    cursor: pointer;
    text-align: left;
}

.slinks {
    display: flex;
    gap: 0.5em;
    justify-content: center;
    a,button {
        padding: 0.5em;
        box-sizing: border-box;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 54px;
        height: 54px;
        &.twt {
            background: #1da1f2;
        }
        &.msto {
            background: #6364FF;
        }
        &.tg {
            background: rgb(61, 190, 255);
        }
        &.native {
            background: var(--zinc-800);
        }
        transition: 0.25s filter, 0.25s border-radius;
        &:hover {
            filter: brightness(1.1);
            border-radius: 100%;
        }
    }
}